{% set old_value = old_values[name] %}

<label for="{{ name }}" class="form-label">{{ label }}</label>
{% if errors %}
<div class="input-group has-validation">
{% endif %}
  <textarea
    class="{{ widget.class_ }}{% if errors %} is-invalid{% endif %}"
    type="{{ type }}"
    name="{{ name }}"
    rows="{{ widget.rows }}"
    id="{{ name }}"
    {% if required %}required{% endif %}
    {% if errors %}aria-describedby="inputGroupPrepend3 validation{{ name }}Feedback"{% endif %}
  >{% if old_value and shared %}{{ old_value }}{% endif %}</textarea>
{% if errors %}
  <div id="validation{{ name }}Feedback" class="invalid-feedback">
    {{ errors[0] }}
  </div>
</div>
{% endif %}